<div class="well">
    <h2>Interpolação</h2>
    <p>olaFulano = {{ olaFulano }}</p>
    <p>olaFulano (uppercase) = {{ olaFulano | uppercase }}</p>
    <p>50 + 100 = {{ 50 + 100 }}</p>
    <p>1000 + obterJuros() = {{ 1000 + obterJuros() }}</p>
</div>
    
<div class="well">
    <h2>Eventos</h2>
    <button class="btn btn-default" (click)="dizerOi()">
        Diga oi
    </button>
    <br />
    <br />
    <input (keyup)="mostrarTexto($event)">
    <br />
    <br />
    <button class="btn btn-default" 
        (click)="olaFulano='Oi, Fulano';dizerOi()">
        Oi Fulano
    </button>
</div>
    
<div class="well">    
    <h2>Atribuições</h2>
    <button class="btn btn-default" (click)="mudarMostrarMensagem()" 
        [disabled]="!mostrarMensagem">
        {{ mostrarMensagem ? 'Ativo' : 'Inativo' }}
    </button>
        
    <button class="btn btn-info" (click)="mudarMostrarMensagem()" 
        [disabled]="mostrarMensagem">
        {{ !mostrarMensagem ? 'Ativo' : 'Inativo' }}
    </button>
</div>
    
<div class="well">
    <h2>'One way' e 'Two way' binding</h2>
    <span>{{ nome }}</span>
    <br />
    <input type="text" [value]="nome">
    <hr />

    <span>{{ nome }}</span>
    <br />
    <input type="text" (keyup)="atualizarNome($event)">
    <hr />

    <span>{{ nome2 }}</span> 
    <br />
    <input type="text" [(ngModel)]="nome2">
</div>
    
<div class="well">
    <h2>CSS class</h2>
    <button class="btn" [class.btn-primary]="azul" 
        (click)="mudarEstilo()">
        Clique para mudar estilo
    </button>
    <hr />

    <span [style.color]="azul ? 'blue' : 'red'">{{ olaFulano }}</span>
    <hr />

    <button class="btn" 
        [ngClass]="{'btn-success': cadastrar, 'btn-danger': remover}" 
        (click)="alterarCadastro()">
        {{ cadastrar ? 'Cadastrar' : 'Remover' }}
    </button>
</div>
    
<div class="well">
    <h2>*ngIf</h2>
    <br />
    <h4 *ngIf="exibir">{{ olaFulano }}</h4>
    <button class="btn btn-warning" 
        (click)="alternarValor()">
        Exibir/esconder texto
    </button>
    <hr />

    <h4 *ngIf="contador < 5">
        Exibindo enquanto contador for menor que 5, 
        valor atual do contador: {{ contador }}
    </h4>
    <h4 *ngIf="contador >= 5">
        Exibindo porque contador e maior ou igual a 5, 
        valor atual do contador: {{ contador }}
    </h4>
    <button class="btn btn-primary" 
        (click)="incrementar()">
        Incrementar
    </button>
</div>

<div class="well">    
    <h2>*ngFor</h2>
    <br />
    <ul>
        <li *ngFor="#cliente of clientes">
            {{ cliente }}
        </li>
    </ul>
    <hr />
    <ul>
        <li *ngFor="#cliente of clientes; #id=index">
            {{ id }}: {{ cliente }}
        </li>
    </ul>
</div>